@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Add your Tailwind imports and other styles here */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'Fira Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}

.flex-grow {
  flex-grow: 1;
}

.bg-bg-main {
  background-color: #1a202c; /* Dark background color */
}

.relative {
  position: relative;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}